<br />
<div style="text-align: center;">
    <span style="font-weight: bold; color:#6dc; font-family: 'Arial Narrow'; font-size: 5em;">CARE INTERNATIONAL</span>
</div>
<br />

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
This is a very little introduction to the Care International Project and how to make requests to the data.<br />
The data is located into a Carto Account. <br /><br />Let's begin...<br /></span>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 1.5em;">Making call request to the SQL API</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
All SQL API requests to your CARTO account should follow this general pattern:
https://{username}.carto.com/api/v2/sql?q={SQL_statement}.<br /></span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
And the username for this project is:<br /></span>
<span style="font-weight: bold; color:#444; font-family: 'Georgia'; font-size: 1.2em;">careinternational</span>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 1.5em;">Inside the Carto Account</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
There are two principal tables in the Carto Account:</span>


<img src='./carto1.png'>
    
    - impact_data:
        the_geom
        country
        total_impact
        humanitarian_response
        sexual_reproductive_and_maternal_health
        right_to_a_life_free_from_violence
        food_and_nutrition_security_and_resilience_to_climate_change
        women_s_economic_empowerment
        iso
<img src='./carto2.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
 <br />
</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
The "reach data" file should have this format as a name: reach_data_month_day</span>

    - reach_data_june_9:
        the_geom
        num_wee_projects_and_initiatives
        num_fnscc_projects_and_initiatives
        num_lffv_projects_and_initiatives
        num_srmh_projects_and_initiatives
        num_hum_projects_and_initiatives
        num_projects_and_initiatives
        region
        country
        category
        num_wee_indirect_particip
        num_wee_direct_particip
        num_fnscc_indirect_particip
        num_fnscc_direct_particip
        num_lffv_indirect_particip
        num_lffv_direct_particip
        num_srmh_indirect_particip
        num_srmh_direct_particip
        num_hum_indirect_particip
        num_hum_direct_particip
        percent_women_indirect_particip
        total_num_indirect_participants
        percent_women_direct_particip
        total_num_direct_participants
        iso
        
        
        
        
<img src='./carto3.png'>

<br />
<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 2em;">Reach Data</span>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 1.8em;">Making choropleth map</span>


<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
If we want to paint a choropleth map, we should ask to our table for the data that we would want to representate. If we want to paint total of directs participant, we should query our table "reach_data_june_9" this column:</span>

```sql
SELECT total_num_direct_participants, the_geom, the_geom_webmercator FROM reach_data_june_9```

<img src='./carto4.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
We have to generate a map, clicking "Create Map" and the response should move you to a page like this:
</span>

<img src='./carto6.png'>



<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
And if we want to represent the *Total of direct participants* we have to select the styling by value and them select the column: </span><span style="font-weight: bold; color:#444; font-family: 'Georgia'; font-size: 1.2em;">total_num_direct_participants</span>




<img src='./carto7.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
And to make the choropleth map, we have to style it in our cartoccs. One way is defining our style and our range of values. In this case, we use this code:</span>

```sql
#layer [total_num_direct_participants > 0] {
  polygon-fill: #EEBC9C;
}
#layer [total_num_direct_participants > 13000] {
  polygon-fill: #F79759;
}
#layer [total_num_direct_participants > 142000] {
  polygon-fill: #d4641c;
}
#layer [total_num_direct_participants > 553000] {
  polygon-fill: #F46508;
}
#layer [total_num_direct_participants > 1900000] {
  polygon-fill: #A03B0D;
}
#layer [total_num_direct_participants = 0] {
  polygon-fill: #d5d4d3;
}
```


<img src='./carto8.png'>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 1.8em;">Selecting data values for World Data</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">Let's make some querys to get some data.</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">Total of projects and iniciatives:<br />
    - SELECT sum(num_projects_and_initiatives) FROM reach_data_june_9    

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Participants reached:
    - Direct: SELECT round(sum(total_num_direct_participants)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(total_num_indirect_participants)) FROM reach_data_june_9


<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Percentage of women participants reached:
    - Women indirect: SELECT round(sum(percent_women_indirect_particip)) FROM reach_data_june_9
    - Women direct: SELECT round(sum(percent_women_direct_particip)) FROM reach_data_june_9
</span>

<div style="text-align: center;">
    <span style="align=center; font-weight: bold; color:#444; font-family: 'Arial'; font-size: 1.5em;background-color:rgba(100,209,184,0.3);">And remember the general pattern, to make these querys outside our Carto account:
https://{username}.carto.com/api/v2/sql?q={SQL_statement}</span>
</div>
<br />
<div style="text-align: center;">
    <span style="align=center; font-weight: bold; color:#444; font-family: 'Arial'; font-size: 1.5em;background-color:rgba(100,209,184,0.3);">For example: https://careinternational.carto.com/api/v2/sql?q=SELECT sum(num_projects_and_initiatives) FROM reach_data_june_9 </span>
</div>




<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
And this query will respond us with a JSON, as is shown next:</span>

<img src='./carto9.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
The same query, made it from the Carto platform, should respond us the same value:</span>

<img src='./carto10.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Filter by outcome:
</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Humanitarian response:
    - Direct: SELECT round(sum(num_hum_direct_particip)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(num_hum_indirect_particip)) FROM reach_data_june_9

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Women's economic empowerment:
    - Direct: SELECT round(sum(num_wee_direct_particip)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(num_wee_indirect_particip)) FROM reach_data_june_9

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Food and nutrition security and climate change resilience:
    - Direct: SELECT round(sum(num_fnscc_direct_particip)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(num_fnscc_indirect_particip)) FROM reach_data_june_9

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Life Free from violence:
    - Direct: SELECT round(sum(num_lffv_direct_particip)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(num_lffv_indirect_particip)) FROM reach_data_june_9

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
The right to sexual, reproductive and maternal health:
    - Direct: SELECT round(sum(num_srmh_direct_particip)) FROM reach_data_june_9
    - Indirect: SELECT round(sum(num_srmh_indirect_particip)) FROM reach_data_june_9

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 2em;">Data for Regions</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Is interesting to know the data by regions. For that, we have to select that data querying our table. 
There is a column in table "reach_data_june_9" that would let us select differents regions of fthe world. Let's make an example with "West Africa". The user could select between: <br /><br />
-Southern Africa.<br />
-East and Central Africa.<br />
-Asia and Pacific.<br />
-Middle East, North Africa and Europe.<br />
-Latin America and the Caribbean.<br />
-West Africa.<br />
-North America.<br />


<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Total of projects and iniciatives:
    - SELECT sum(num_projects_and_initiatives) FROM reach_data_june_9 WHERE region='West Africa'

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Participants reached:
    - Direct: SELECT round(sum(total_num_direct_participants)) FROM reach_data_june_9 WHERE region='West Africa'
    - Indirect: SELECT round(sum(total_num_indirect_participants)) FROM reach_data_june_9 WHERE region='West Africa'

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Percentage of women participants reached:
    - Women indirect: SELECT round(sum(percent_women_indirect_particip)) FROM reach_data_june_9 WHERE region='West Africa'
    - Women direct: SELECT round(sum(percent_women_direct_particip)) FROM reach_data_june_9 WHERE region='West Africa'

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
As you have seen, just have to select the region in "WHERE" clause.<br /><br />
The same occurs if you want to filter by outcome, just for an specific region:<br /><br />
Humanitarian response:
    - Direct: SELECT round(sum(num_hum_direct_particip)) FROM reach_data_june_9 WHERE region='West Africa'
    - Indirect: SELECT round(sum(num_hum_indirect_particip)) FROM reach_data_june_9 WHERE region='West Africa'
<br />
<img src='./carto11.png'>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 2em;">Data for an specific outcome</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Also, it is interesting to see the data for an specific region and an specific outcome.<br />
And as below, we only have to put in the where clause, the region and select the respective column. The diferents outcomes are:<br /><br />
-Humanitarian response.<br />
-Women's economic empowerment.<br />
-The rigth to sexual, reproductive and maternal health.<br />
-Life Free from Violence.<br />
-Food and nutrition security and climate change resilience.<br />

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
For example, I would like to know the data for "Women's economic empowerment" in "West Africa". I just have to select in my table:
    - SELECT sum(num_wee_projects_and_initiatives) as wee_projects, sum(num_projects_and_initiatives) as total_projects, sum(num_wee_indirect_particip) as wee_indirect, sum(num_wee_direct_particip) as wee_direct, sum(total_num_indirect_participants) as tot_indirect, sum(total_num_direct_participants) as tot_direct FROM reach_data_june_9 WHERE region = 'West Africa' 
<img src='./carto12.png'> 

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Maybe, we would need the data with other format, so: 
    - with a1 as (SELECT sum(num_wee_projects_and_initiatives) as wee_projects, sum(num_projects_and_initiatives) as total_projects, sum(num_wee_indirect_particip) as wee_indirect, sum(num_wee_direct_particip) as wee_direct, sum(total_num_indirect_participants) as tot_indirect, sum(total_num_direct_participants) as tot_direct  FROM reach_data_june_9 WHERE region = 'West Africa') SELECT unnest(array[ 'wee_projects', 'total_projects', 'wee_indirect', 'wee_direct', 'tot_indirect', 'tot_direct']) AS "type", unnest(array[ wee_projects, total_projects, wee_indirect, wee_direct, tot_indirect, tot_direct]) AS "values" FROM a1  

<img src='./carto13.png'>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 2em;">Impact Data</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
We want to make queries to extract important data that we will need, to show it:
</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Humanitarian response: 
    - SELECT round(sum(humanitarian_response)) FROM impact_data

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Women's economic empowerment:
    - SELECT round(sum(women_s_economic_empowerment)) FROM impact_data

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Food and nutrition security and climate change resilience:
    - SELECT round(sum(food_and_nutrition_security_and_resilience_to_climate_change)) FROM impact_data

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Life Free from violence:
    - SELECT round(sum(right_to_a_life_free_from_violence)) FROM impact_data

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
The right to sexual, reproductive and maternal health:
    - SELECT round(sum(sexual_reproductive_and_maternal_health)) FROM impact_data

<div style="text-align: center;">
    <span style="align=center; font-weight: bold; color:#444; font-family: 'Arial'; font-size: 1.5em;background-color:rgba(100,209,184,0.3);">And always is good time to remember the general pattern, to make these queries outside our Carto account:
https://{username}.carto.com/api/v2/sql?q={SQL_statement}</span>
</div>
<br />
<div style="text-align: center;">
    <span style="align=center; font-weight: bold; color:#444; font-family: 'Arial'; font-size: 1.5em;background-color:rgba(100,209,184,0.3);">For example: https://careinternational.carto.com/api/v2/sql?q=SELECT%20sum(humanitarian_response)%20FROM%20impact_data</span>
</div>

<span style="font-weight: bold; color:#6dc; font-family: 'Arial'; font-size: 2em;">Data for Regions</span>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
We also can make queries to take data of impacts from an specific region. As equal as in Reach Data part, we just have to put a "WHERE" clause and use the region that we would:

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
So: 
    - SELECT round(sum(total_impact)) as total_impact, round(sum(humanitarian_response)) as humanitarian_response, round(sum(sexual_reproductive_and_maternal_health)) as sexual_reproductive_and_maternal_health, round(sum(right_to_a_life_free_from_violence)) as right_to_a_life_free_from_violence, round(sum(food_and_nutrition_security_and_resilience_to_climate_change)) as food_and_nutrition_security_and_resilience_to_climate_change, round(sum(women_s_economic_empowerment)) as women_s_economic_empowerment  FROM impact_data WHERE region = 'West Africa'
    
<img src='./carto15.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Or (same data, other format): 
    - with a1 as (SELECT round(sum(total_impact)) as total_impact, round(sum(humanitarian_response)) as humanitarian_response, round(sum(sexual_reproductive_and_maternal_health)) as sexual_reproductive_and_maternal_health, round(sum(right_to_a_life_free_from_violence)) as right_to_a_life_free_from_violence, round(sum(food_and_nutrition_security_and_resilience_to_climate_change)) as food_and_nutrition_security_and_resilience_to_climate_change, round(sum(women_s_economic_empowerment)) as women_s_economic_empowerment  FROM impact_data WHERE region = 'West Africa') SELECT unnest(array[ 'total_impact', 'humanitarian_response', 'sexual_reproductive_and_maternal_health', 'right_to_a_life_free_from_violence', 'food_and_nutrition_security_and_resilience_to_climate_change', 'women_s_economic_empowerment']) AS "type", unnest(array[total_impact, humanitarian_response, sexual_reproductive_and_maternal_health, right_to_a_life_free_from_violence, food_and_nutrition_security_and_resilience_to_climate_change, women_s_economic_empowerment]) AS "values" FROM a1
    
<img src='./carto14.png'>

<span style="color:#444; font-family: 'Georgia'; font-size: 1.2em;">
Making a call request to our Carto Account with the SQL Api

   
<img src='./carto16.png'>

<br />

<div style="text-align: center;">
    <span style="align=center; font-weight: bold; color:#444; font-family: 'Arial'; font-size: 1.5em;background-color:rgba(100,209,184,0.3);">And that's it! You just have to play and make queries ;)</span>
</div>
<br />