# Create a table for each country

In [2]:
import pandas as pd
import numpy as np
from shapely.wkb import loads

***
## Bangladesh

In [16]:
df_bgd = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_bgd.head()

**Finance 2013**

In [18]:
bgdFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Bangladesh_finance_2013.xls')
bgdFin.head(1)

In [20]:
# Obtain lat and lng from wkb geometry 
lng = []
lat = []
for i in range(len(bgdFin['geom'])):
    point = loads(bgdFin['geom'].iloc[i], hex = True)
    x, y = point.coords.xy
    lng.append(x[0])
    lat.append(y[0])
    
bgdFin['lat'] = lat
bgdFin['lng'] = lng

In [23]:
df_bgdFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_bgdFin[['type','land_use','country','lat','lng','name']] = bgdFin[['type','land_use','country','lat','lng','providers']]
df_bgdFin[['sector','iso','year']] = ['Finance','BGD',2013]
df_bgdFin.sort_values('type', inplace=True)
df_bgd = pd.concat([df_bgd,df_bgdFin])

Reset index

In [25]:
df_bgd.reset_index(drop=True, inplace=True)
df_bgd.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Finance,Bank Branches,Urban,BGD,Bangladesh,23.71567,90.39706,2013,NaN
1,Finance,Bank Branches,Rural,BGD,Bangladesh,25.03466,91.66398,2013,NaN
2,Finance,Bank Branches,Rural,BGD,Bangladesh,24.71598,89.08773,2013,NaN
3,Finance,Bank Branches,Rural,BGD,Bangladesh,25.12515,88.59117,2013,NaN
4,Finance,Bank Branches,Rural,BGD,Bangladesh,23.48638,91.00529,2013,NaN

Save table

In [26]:
df_bgd.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_bgd.csv')

***
## India

In [33]:
df_ind = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ind.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Agriculture 2014**

In [34]:
indAgri = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Agriculture/india_agriculture_2014.xls')
indAgri.head(1)

,id,country,submission_id,form_created,form_submitted,lat,lng,address,type,land_use,...,branded,infrastructure_type,infrastructure_specific,state,district,category,geom,gaul_2014_adm0,gaul_2014_adm1,gaul_2014_adm2
0,1539,India,1392014034076_Sunny,2/10/2014 11:58,2/10/2014 12:03,25.56872,84.67436,"Gola Road, ARA",Agro-dealers,Rural,...,Yes,Permanent shop,NaN,Bihar,Bhojpur,Arrah,0101000020E6100000C16ED8B6282B5540C49448A29791...,118.0,2434.0,33127.0

In [36]:
df_indAgri = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year', 'name'])
df_indAgri[['type','land_use','country','lat','lng']] = indAgri[['type','land_use','country','lat','lng']]
df_indAgri[['sector','iso','year','name']] = ['Agriculture','IND',2014,'']
df_indAgri.sort_values('type', inplace=True)
df_ind = pd.concat([df_ind,df_indAgri])

**Finance 2014**

In [37]:
indFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/India_finance_2014.xls')
indFin.head(1)

,id,country,name,submission_id,capturer_name,form_created,form_submitted,lat,lng,address,...,state,district,category,atm_count,atm_allow_deposit,geom,gaul_2014_adm0,gaul_2014_adm1,gaul_2014_adm2,providers
0,31095,India,Zila Sahkari Bank / District Cooperative Bank,1400997091659_Amit2,Amit2 Goswami,5/25/2014 11:12,5/25/2014 11:21,28.64568,77.42019,Vijay Nagar Ghaziabad,...,Uttar Pradesh,Ghaziabad,Ghaziabad,0.0,No,0101000020E6100000CD069964E45A534068AED3484BA5...,118,2442,32885,NaN

In [39]:
df_indFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_indFin[['type','land_use','country','lat','lng','name']] = indFin[['type','land_use','country','lat','lng','providers']]
df_indFin[['sector','iso','year']] = ['Finance','IND',2014]
df_indFin.sort_values('type', inplace=True)
df_ind = pd.concat([df_ind,df_indFin])

**Health 2014**

In [40]:
indHea = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Health/india_health_2014.xls')
indHea.head(1)

,id,country,submission_id,form_created,form_submitted,lat,lng,address,type,name,...,contact_number,delivery_center,functional,state,district,category,geom,gaul_2014_adm0,gaul_2014_adm1,gaul_2014_adm2
0,8339,India,1398517746951_Dipin2,4/26/2014 18:33,4/26/2014 18:39,28.83155,77.67658,NaN,Sub Health Centres,Sub Health Centre,...,9.634964e+09,Yes,No,Uttar Pradesh,Ghaziabad,Bhojpur,0101000020E61000002C4833164D6B534022FDF675E0D4...,118.0,2442.0,32885.0

In [41]:
df_indHea = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_indHea[['type','land_use','country','lat','lng']] = indHea[['type','land_use','country','lat','lng']]
df_indHea[['sector','iso','year','name']] = ['Health','IND',2014,'']
df_indHea.sort_values('type', inplace=True)
df_ind = pd.concat([df_ind,df_indHea])

**Library 2014**

In [42]:
indLib = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Library/india_library_2014.xls')
indLib.head(1)

,id,country,name,submission_id,form_created,form_submitted,lat,lng,address,type,...,alarm_system,fenced_windows,additional_security,state,district,category,geom,gaul_2014_adm0,gaul_2014_adm1,gaul_2014_adm2
0,180,India,Rajamau,1391750414057_Love,2/7/2014 10:32,2/7/2014 10:50,26.43911,81.04189,Raebareli Road Rajamau,Village,...,Yes,Yes,Cheir,Uttar Pradesh,Raebareli,Bachhraon,0101000020E6100000E2016553AE425440B85851836970...,118,2442,32900

In [43]:
df_indLib = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_indLib[['type','land_use','country','lat','lng']] = indLib[['type','land_use','country','lat','lng']]
df_indLib[['sector','iso','year','name']] = ['Library','IND',2014,'']
df_indLib.sort_values('type', inplace=True)
df_ind = pd.concat([df_ind,df_indLib])

In [45]:
# Reset index
df_ind.reset_index(drop=True, inplace=True)
df_ind.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Agriculture,Agro-dealers,Rural,IND,India,25.56872,84.67436,2014,
1,Agriculture,Agro-dealers,Rural,IND,India,26.91513,83.43577,2014,
2,Agriculture,Agro-dealers,Rural,IND,India,26.16912,84.04030,2014,
3,Agriculture,Agro-dealers,Rural,IND,India,26.67519,83.22662,2014,
4,Agriculture,Agro-dealers,Rural,IND,India,26.67521,83.22684,2014,

Save table

In [46]:
df_ind.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_ind.csv')

***
## Kenya

In [47]:
df_ken = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ken.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Agriculture 2015**

In [48]:
kenAgri = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Agriculture/kenya_agriculture_2015.xls')
kenAgri.head(1)

,submission_id,form_name,form_created,form_submitted,province,county,constituency,ward,lat,long,gps_accuracy,type,ag_dealer_name,ag_dealer_operational,ag_dealer_num_employees,ex_post_operational,ex_post_contact_num,ex_post_num_employees
0,1433841551991_Stellan,Agriculture,2015-06-09,2015-06-09,NYANZA,HOMA BAY,SUBA SOUTH,GWASSI SOUTH,-0.76614,34.07594,9,Farmer Organisations And Cooperatives,NaN,NaN,NaN,NaN,NaN,NaN

Rename long as lng

In [49]:
kenAgri = kenAgri.rename(columns={'long': 'lng'})

In [50]:
df_kenAgri = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_kenAgri[['type','lat','lng']] = kenAgri[['type','lat','lng']]
df_kenAgri[['sector','iso','country','year','name']] = ['Agriculture','KEN','Kenya',2015,'']
df_kenAgri.sort_values('type', inplace=True)
df_ken = pd.concat([df_ken,df_kenAgri])

**Finance 2015**

In [51]:
kenFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Kenya_finance_2015.xls')
kenFin.head(1)

,submission_id,form_name,capturer_name,form_created,form_submitted,province,county,constituency,ward,lat,...,questionnaire,type,address,atm_name,atm_start_date,atm_visa,atm_mastercard,atm_kenswitch,atm_pesa_point,atm_num_machines
0,1431502602803_Brianch,Pension Provider,Brian Chenze,2015-05-13,2015-05-13,COAST,LAMU,LAMU WEST,MKOMANI,-2.26608,...,Financial,Pension Provider,Lamu,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Rename long as lng
kenFin = kenFin.rename(columns={'long': 'lng'})

In [53]:
df_kenFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_kenFin[['type','lat','lng','name']] = kenFin[['type','lat','lng','atm_name']]
df_kenFin[['sector','iso','country','year']] = ['Finance','KEN','Kenya',2015]
df_kenFin.sort_values('type', inplace=True)
df_ken = pd.concat([df_ken,df_kenFin])

In [54]:
# Reset index
df_ken.reset_index(drop=True, inplace=True)
df_ken.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Agriculture,Abattoirs/ Slaughter Houses,NaN,KEN,Kenya,-1.77159,37.40911,2015,
1,Agriculture,Abattoirs/ Slaughter Houses,NaN,KEN,Kenya,-0.50912,34.73958,2015,
2,Agriculture,Abattoirs/ Slaughter Houses,NaN,KEN,Kenya,-1.25068,37.98459,2015,
3,Agriculture,Abattoirs/ Slaughter Houses,NaN,KEN,Kenya,-0.53884,37.43355,2015,
4,Agriculture,Abattoirs/ Slaughter Houses,NaN,KEN,Kenya,-3.39874,39.77461,2015,

Save table

In [55]:
df_ken.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_ken.csv')

***
## Lesotho

In [2]:
df_lso = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_lso.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Finance 2018**

In [8]:
lsoFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Lesotho Mapping Revised Format 2018-09-03.xlsx')
lsoFin.head(1)

,Unique Identifier,Submission Link,Form Name,Capturer Name,Form Created,Form Submitted,Form Arrived,Submission Type,Outlet Longitude,GPS Latitude,...,WITHDRAWS,LOANS,SAVINGS ACCOUNTS,INSURANCE,EWALLET,NAME OF BRANCH,LONG TERM INSURANCE,SHORT TERM INSURANCE,POS TERMINALS,PHOTO MODULE
0,NaN,1515830935143_Manyali,Lesotho Mapping_TEST,Motsamai,2018-01-13 09:58:22,2018-01-13 10:08:55,2018-01-13 09:58:14,NEW_OUTLET,-29.3163,27.4957,...,YES,NO,NO,NO,NO,NaN,NaN,NaN,NaN,https://www.mawmobile.co.za/Brandworx_RPM_Cons...

In [9]:
df_lsoFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_lsoFin[['type','lat','lng','name']] = lsoFin[['TYPE','Outlet Longitude', 'GPS Latitude','NAME']]
df_lsoFin[['sector','iso','country','year']] = ['Finance','LSO','Lesotho',2018]
df_lsoFin.sort_values('type', inplace=True)
df_lsoFin['type'] = df_lsoFin['type'].apply(lambda x: x.title())
df_lsoFin['name'] = df_lsoFin['name'].apply(str)
df_lsoFin['name'] = df_lsoFin['name'].apply(lambda x: x.title())
df_lso = pd.concat([df_lso,df_lsoFin])

In [10]:
# Reset index
df_lso.reset_index(drop=True, inplace=True)
df_lso.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Finance,Atm,NaN,LSO,Lesotho,-29.31630,27.49570,2018,Standard Bank
1,Finance,Atm,NaN,LSO,Lesotho,-28.87584,28.04890,2018,Fnb
2,Finance,Atm,NaN,LSO,Lesotho,-28.87388,28.04896,2018,Fnb
3,Finance,Atm,NaN,LSO,Lesotho,-29.82287,27.24438,2018,Standard Bank
4,Finance,Atm,NaN,LSO,Lesotho,-29.00093,28.20943,2018,Fnb

Save table

In [11]:
df_lso.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_lso.csv')

***
## Nigeria

In [66]:
df_nga = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_nga.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Finance 2015**

In [67]:
ngaFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Nigeria_finance_2015.xlsx')
ngaFin.head(1)

,id,brand_fusion_id,type,geom,land_use,capturer_name,form_created,form_submitted,lat,lng,...,country,state,address,status,why_not_operational,outlet_type,record_keeping,regulated,reg_body,lga
0,16759,1422701217933_SundayO,Bank Agent,0101000020E610000000A94D9CDC6F1E407E350708E668...,Rural,Sunday Okeke Matthew,2015-01-31,2015-01-31,6.10244,7.60924,...,Nigeria,ENUGU STATE,"Orie Oduma, Oduma.",Yes,NaN,Agent,On-line System to Head Office,Yes,CBN,Aninri

In [68]:
df_ngaFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ngaFin[['type','land_use','lat','lng']] = ngaFin[['type','land_use','lat','lng']]
df_ngaFin[['sector','iso','country','year','name']] = ['Finance','NGA','Nigeria',2015,'']
df_ngaFin.sort_values('type', inplace=True)
df_nga = pd.concat([df_nga,df_ngaFin])

In [69]:
# Reset index
df_nga.reset_index(drop=True, inplace=True)
df_nga.head()

    sector        type land_use  iso  country       lat      lng  year name
0  Finance  Bank Agent    Rural  NGA  Nigeria   6.10244  7.60924  2015
1  Finance  Bank Agent    Urban  NGA  Nigeria  10.31512  9.82062  2015
2  Finance  Bank Agent    Urban  NGA  Nigeria   6.65995  3.29175  2015
3  Finance  Bank Agent    Urban  NGA  Nigeria   6.53649  3.13017  2015
4  Finance  Bank Agent    Urban  NGA  Nigeria   7.76867  4.54006  2015

Save table

In [70]:
df_nga.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_nga.csv')

***
## Tanzania

In [71]:
df_tza = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_tza.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Finance 2014**

In [72]:
tzaFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Tanzania_finance_2014.xls')
tzaFin.head(1)

,submission_id,type,providers,latitude,longitude,country,geom,land_use,id
0,1390227660892_Hollines,Mobile Money Agent,Tigo Pesa | Airtel Cash,-6.833,39.2414,Tanzania,0101000020E610000090A0F831E69E4340A245B6F3FD54...,Urban,58948

In [73]:
# Rename latitude and longitude as lat and lng, respectively.
tzaFin = tzaFin.rename(columns={'latitude': 'lat'})
tzaFin = tzaFin.rename(columns={'longitude': 'lng'})

In [74]:
df_tzaFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_tzaFin[['type','land_use','country','lat','lng','name']] = tzaFin[['type','land_use','country','lat','lng','providers']]
df_tzaFin[['sector','iso','year']] = ['Finance','TZA',2014]
df_tzaFin.sort_values('type', inplace=True)
df_tza = pd.concat([df_tza,df_tzaFin])

In [75]:
# Reset index
df_tza.reset_index(drop=True, inplace=True)
df_tza.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Finance,3rd Party Payment Providers,Rural,TZA,Tanzania,-6.97767,39.28963,2014,Max Malipo
1,Finance,3rd Party Payment Providers,Urban,TZA,Tanzania,-6.83134,39.21033,2014,Max Malipo
2,Finance,3rd Party Payment Providers,Urban,TZA,Tanzania,-3.41044,37.52159,2014,Button Pay
3,Finance,3rd Party Payment Providers,Urban,TZA,Tanzania,-6.83943,39.23905,2014,Selcom | Button Pay
4,Finance,3rd Party Payment Providers,Rural,TZA,Tanzania,-6.78888,39.15751,2014,Max Malipo

Save table

In [76]:
df_tza.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_tza.csv')

***
## Uganda

In [84]:
df_uga = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_uga.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Agriculture 2015**

In [85]:
ugaAgri = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Agriculture/uganda_agriculture_2015.xls')
ugaAgri.head(1)

,submission_id,form_created,form_submitted,lat,lng,gps_accuracy,signal_strength,region,district,address,...,ag_de_name,ag_de_num_employees,ag_de_branded,ag_de_infra_type,ag_de_other_infra,wsa_contact_num,wsa_num_employees,geom,id,land_use
0,1408949357926_dismasabeho,2014-08-25,2014-08-25,-0.22734,30.54776,6,-1,Western,Ibanda,Ibanda,...,Bwegye,2.0,No,Permanent shop,NaN,NaN,NaN,0101000020E6100000950ED6FF398C3E40444C89247A19...,13,Rural

In [86]:
df_ugaAgri = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ugaAgri[['type','land_use','lat','lng']] = ugaAgri[['type','land_use','lat','lng']]
df_ugaAgri[['sector','iso','country','year','name']] = ['Agriculture','UGA','Uganda',2015,'']
df_ugaAgri.sort_values('type', inplace=True)
df_uga = pd.concat([df_uga,df_ugaAgri])

**Education 2015**

In [87]:
ugaEdu = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Education/uganda_education_2015.xlsx')
ugaEdu.head(1)

,submission_id,form_created,form_submitted,lat,lng,gps_accuracy,signal_strength,region,district,address,...,num_learners,male_prop,female_prop,female_learners,male_learners,female_teachers,male_teachers,geom,id,land_use
0,1409551927104_noelinenanvuma,2014-09-01,2014-09-01,0.10584,33.30869,9,-1,Central,Buvuma,namakeba village,...,63.0,40.0,60.0,NaN,NaN,NaN,NaN,0101000020E6100000164D672783A74040D5CF9B8A5418...,8,Rural

In [88]:
df_ugaEdu = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ugaEdu[['type','land_use','lat','lng','name']] = ugaEdu[['type','land_use','lat','lng','name']]
df_ugaEdu[['sector','iso','country','year']] = ['Education','UGA','Uganda',2015]
df_ugaEdu.sort_values('type', inplace=True)
df_uga = pd.concat([df_uga,df_ugaEdu])

**Finance 2015**

In [89]:
ugaFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Uganda_finance_2015.xls')
ugaFin.head(1)

,submission_id,type,providers,photos,geom,id,land_use
0,1419229684621_muhumuzalenon,Mobile Money Agent,NaN,"1419229684621_muhumuzalenon, FSP, Central, Kam...",0101000020E6100000183E22A6444A4040E0D6DD3CD521...,277378,Urban

In [90]:
# Obtain lat and lng from wkb geometry 
lng = []
lat = []
for i in range(len(ugaFin['geom'])):
    point = loads(ugaFin['geom'].iloc[i], hex = True)
    x, y = point.coords.xy
    lng.append(x[0])
    lat.append(y[0])

ugaFin['lat'] = lat
ugaFin['lng'] = lng

In [91]:
df_ugaFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_ugaFin[['type','land_use','lat','lng','name']] = ugaFin[['type','land_use','lat','lng','providers']]
df_ugaFin[['sector','iso','country','year']] = ['Finance','UGA','Uganda',2015]
df_ugaFin.sort_values('type', inplace=True)
df_uga = pd.concat([df_uga,df_ugaFin])

In [92]:
# Reset index
df_uga.reset_index(drop=True, inplace=True)
df_uga.head()

,sector,type,land_use,iso,country,lat,lng,year,name
0,Agriculture,Abattoirs/ Slaughter slabs,Rural,UGA,Uganda,-0.63499,30.52349,2015,
1,Agriculture,Abattoirs/ Slaughter slabs,Rural,UGA,Uganda,1.75848,31.41963,2015,
2,Agriculture,Abattoirs/ Slaughter slabs,Rural,UGA,Uganda,0.59669,31.06866,2015,
3,Agriculture,Abattoirs/ Slaughter slabs,Rural,UGA,Uganda,0.44689,31.69715,2015,
4,Agriculture,Abattoirs/ Slaughter slabs,Rural,UGA,Uganda,2.90660,30.88246,2015,

Save table

In [94]:
df_uga.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_uga.csv')

***
## Haiti

In [43]:
df_hti = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_hti.head()

Empty DataFrame
Columns: [sector, type, land_use, iso, country, lat, lng, year, name]
Index: []

**Finance 2017**

In [44]:
htiFin = pd.read_excel('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/Finance/Haiti_finance_2017.xls')
htiFin.head(1)

,Date,Name of Company,Type of Access Point,Type of Institution,Xcoord,Ycoord
0,2017-09-16,Digicel,Agent,Mobile Network Operator,-71.72731,19.08023

In [45]:
df_htiFin = pd.DataFrame(columns=['sector','type','land_use','iso','country','lat','lng','year','name'])
df_htiFin[['type','lat','lng','name']] = htiFin[['Type of Institution','Ycoord', 'Xcoord','Name of Company']]
df_htiFin[['sector','land_use','iso','country','year']] = ['Finance', np.nan,'HTI','Haiti',2017]
df_htiFin.sort_values('type', inplace=True)
df_hti = pd.concat([df_hti,df_htiFin])

In [46]:
df_hti.head()

,sector,type,land_use,iso,country,lat,lng,year,name
2628,Finance,Commercial Bank,NaN,HTI,Haiti,18.569802,-72.317800,2017,Unibank
2594,Finance,Commercial Bank,NaN,HTI,Haiti,18.531779,-72.290184,2017,SOGEBEL
2595,Finance,Commercial Bank,NaN,HTI,Haiti,18.548811,-72.344139,2017,SOGEBEL
2596,Finance,Commercial Bank,NaN,HTI,Haiti,18.537196,-72.402593,2017,Sogebank
2597,Finance,Commercial Bank,NaN,HTI,Haiti,18.532830,-72.385622,2017,Sogebank

Drop rows where `lat` or `lng` equal NaN

In [47]:
df_hti.dropna(subset=['lat', 'lng'], inplace = True)

Change `lat` or `lng` format

In [49]:
df_hti['lat'] = df_hti['lat'].apply(lambda x: "{0:.4f}".format(x))
df_hti['lng'] = df_hti['lng'].apply(lambda x: "{0:.4f}".format(x))

In [50]:
df_hti.head()

,sector,type,land_use,iso,country,lat,lng,year,name
2628,Finance,Commercial Bank,NaN,HTI,Haiti,18.5698,-72.3178,2017,Unibank
2594,Finance,Commercial Bank,NaN,HTI,Haiti,18.5318,-72.2902,2017,SOGEBEL
2595,Finance,Commercial Bank,NaN,HTI,Haiti,18.5488,-72.3441,2017,SOGEBEL
2596,Finance,Commercial Bank,NaN,HTI,Haiti,18.5372,-72.4026,2017,Sogebank
2597,Finance,Commercial Bank,NaN,HTI,Haiti,18.5328,-72.3856,2017,Sogebank

Save table

In [51]:
df_hti.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/i2i/Data/FSP_Maps/FSP_maps_hti.csv')