<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
taxonomies_prod = pd.read_csv('/Users/alicia/Downloads/taxonomies_production.csv')
taxonomies_staging = pd.read_csv('/Users/alicia/Downloads/taxonomies_staging.csv')

In [3]:
taxonomies_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21548 entries, 0 to 21547
Data columns (total 17 columns):
id                     21548 non-null int64
class                  21539 non-null object
order                  21535 non-null object
suborder               0 non-null float64
superfamily            0 non-null float64
family                 21470 non-null object
subfamily              0 non-null float64
genus                  21066 non-null object
species                17409 non-null object
subspecies             3 non-null object
taxon_level            21548 non-null object
authority              17389 non-null object
common_name_english    20417 non-null object
iucn_category_id       17388 non-null float64
scientific_name        21046 non-null object
unique_identifier      21548 non-null object
taxonomy_type          21548 non-null object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.8+ MB

In [4]:
taxonomies_staging.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21990 entries, 0 to 21989
Data columns (total 17 columns):
id                     21990 non-null int64
class                  21978 non-null object
order                  21973 non-null object
suborder               0 non-null float64
superfamily            0 non-null float64
family                 21908 non-null object
subfamily              0 non-null float64
genus                  21100 non-null object
species                17443 non-null object
subspecies             7 non-null object
taxon_level            21990 non-null object
authority              17410 non-null object
common_name_english    16769 non-null object
iucn_category_id       17420 non-null float64
scientific_name        21491 non-null object
taxonomy_type          535 non-null object
unique_identifier      21990 non-null object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.9+ MB

In [23]:
for column in list(taxonomies_prod.columns):
    if column not in ['id', 'unique_identifier', 'common_name_english', 'scientific_name', 'authority']:
        print(column)
        result = set(taxonomies_prod[column].unique()) - set(taxonomies_staging[column].unique())
        print(list(result))

class
[]
family
[]
genus
[]
iucn_category_id
[nan, 2000001.0, 2000000.0, 2000003.0, 2000004.0, 2000005.0, 2000006.0, 2000007.0, 2000008.0, 2000010.0]
order
['Squamata']
species
['scrofa scrofa', 'gallus domesticus', 'aegagrus hircus', 'lupus familiaris']
subfamily
[nan]
suborder
[nan]
subspecies
[]
superfamily
[nan]
taxon_level
[]
taxonomy_type
[]

In [18]:
for column in list(taxonomies_staging.columns):
    print(column)
    print(taxonomies_staging[column].value_counts(dropna=False))

id
2047     1
8865     1
2708     1
661      1
6806     1
        ..
13628    1
15677    1
9534     1
11583    1
2049     1
Name: id, Length: 21990, dtype: int64
class
Aves        14622
Mammalia     7353
NaN            12
Unknown         1
Reptilia        1
Insecta         1
Name: class, dtype: int64
order
Passeriformes        8627
Rodentia             2854
Chiroptera           1494
Caprimulgiformes      807
Piciformes            601
                     ...
Notoryctemorphia        6
Tubulidentata           5
Microbiotheria          5
Opisthocomiformes       5
Unknown                 1
Name: order, Length: 66, dtype: int64
suborder
NaN    21990
Name: suborder, dtype: int64
superfamily
NaN    21990
Name: superfamily, dtype: int64
family
Muridae             899
Cricetidae          835
Tyrannidae          558
Thraupidae          523
Psittacidae         500
                   ...
Balaenicipitidae      4
Eurypygidae           4
Lipotidae             4
Antilocapridae        4
Unknown               1
Name: family, Length: 406, dtype: int64
subfamily
NaN    21990
Name: subfamily, dtype: int64
genus
NaN               890
Crocidura         182
Myotis            113
Zosterops         101
Turdus             89
                 ...
Syncerus            2
Thamnornis          2
Zavattariornis      2
Elephas             2
Unknown             1
Name: genus, Length: 3659, dtype: int64
species
NaN               4547
minor               40
australis           37
affinis             34
capensis            33
                  ...
tympanistrigus       1
pellucida            1
amnicola             1
schauinslandi        1
pyropygia            1
Name: species, Length: 9343, dtype: int64
subspecies
NaN           21983
hircus            2
domesticus        2
scrofa            2
asinus            1
Name: subspecies, dtype: int64
taxon_level
species       17436
genus          3657
family          808
order            65
none             12
subspecies        7
class             5
Name: taxon_level, dtype: int64
authority
NaN                          4580
Linnaeus, 1758                604
Linnaeus, 1766                299
Gmelin, 1789                  240
Gmelin, 1788                  144
                             ...
Kitchener, 1976                 1
Carleton & Stanley, 2005        1
Salomonsen, 1933                1
Mearns, 1898                    1
Sokolov & Baskevich, 1988       1
Name: authority, Length: 5390, dtype: int64
common_name_english
NaN                        5221
Donkey                        4
Bactrian Camel                3
Human                         3
Domestic Yak                  3
                           ...
Blue-winged Kookaburra        1
Large Long-clawed Mouse       1
Chilean Climbing Mouse        1
Nepal House Martin            1
Lemon Dove                    1
Name: common_name_english, Length: 16697, dtype: int64
iucn_category_id
8.0     10621
NaN      4570
11.0     1816
7.0      1288
6.0      1270
5.0       920
9.0       872
4.0       392
1.0       227
10.0        8
2.0         6
Name: iucn_category_id, dtype: int64
scientific_name
NaN                                            499
Alces alces (Linnaeus, 1758)                     3
Camelus ferus (Przewalski, 1878)                 3
Bison bison (Linnaeus, 1758)                     3
Equus africanus (Heuglin & Fitzinger, 1866)      3
                                              ...
Dendropicos stierlingi (Reichenow, 1901)         1
Gerbillus amoenus (de Winton, 1902)              1
Malcorus pectoralis (Smith, 1829)                1
Megaoryzomys curioi (Niethammer, 1964)           1
Muntiacus reevesi (Ogilby, 1839)                 1
Name: scientific_name, Length: 21470, dtype: int64
taxonomy_type
NaN           21455
biological      478
domestic         45
vehicle           7
object            5
Name: taxonomy_type, dtype: int64
unique_identifier
fe48ea30-9669-4509-9b70-b0e2417bce9e    1
533b11ae-f573-4812-9d74-5ce3dfd4277a    1
910bb4f8-fc97-422b-bea5-7c7a5b43fbf3    1
8b0f9b85-8f73-4d18-a13e-83f2b5c8ad1f    1
4d0dff61-e326-4cb1-8296-876a58ee7c02    1
                                       ..
b0c3a180-2f3c-4cd6-ac23-cc7e3a4ea6cc    1
8861b6a5-4f8f-4e42-b24d-3285bd06688b    1
337956c6-f99c-4a25-90c4-fe830a786feb    1
8c37585e-1e02-43a8-b47c-79cabfc64cb1    1
e1408777-2f16-4fc6-8369-b9149726cc16    1
Name: unique_identifier, Length: 21990, dtype: int64

In [20]:
for column in list(taxonomies_prod.columns):
    print(column)
    print(taxonomies_prod[column].value_counts(dropna=False))

id
2000895    1
2013890    1
2001588    1
2005686    1
2003639    1
          ..
2002299    1
2012540    1
2014589    1
2008446    1
2000897    1
Name: id, Length: 21548, dtype: int64
class
Aves        14378
Mammalia     7157
NaN             9
Reptilia        2
Unknown         1
Insecta         1
Name: class, dtype: int64
order
Passeriformes        8490
Rodentia             2820
Chiroptera           1473
Caprimulgiformes      799
Piciformes            592
                     ...
Tubulidentata           4
Microbiotheria          4
Opisthocomiformes       4
Unknown                 1
Squamata                1
Name: order, Length: 67, dtype: int64
suborder
NaN    21548
Name: suborder, dtype: int64
superfamily
NaN    21548
Name: superfamily, dtype: int64
family
Muridae           898
Cricetidae        834
Tyrannidae        557
Thraupidae        522
Psittacidae       499
                 ...
Hypocoliidae        3
Diatomyidae         3
Scopidae            3
Antilocapridae      3
Unknown             1
Name: family, Length: 406, dtype: int64
subfamily
NaN    21548
Name: subfamily, dtype: int64
genus
NaN              482
Crocidura        182
Myotis           113
Zosterops        101
Turdus            89
                ...
Anisomys           2
Grammatoptila      2
Ixoreus            2
Ovibos             2
Unknown            1
Name: genus, Length: 3659, dtype: int64
species
NaN                4139
minor                40
australis            37
affinis              34
capensis             33
                   ...
psilolaemus           1
cozumelae             1
altissimus            1
erythropthalmus       1
carpi                 1
Name: species, Length: 9343, dtype: int64
subspecies
NaN           21545
hircus            1
domesticus        1
scrofa            1
Name: subspecies, dtype: int64
taxon_level
species       17409
genus          3657
family          404
order            65
none              8
class             4
subspecies        1
Name: taxon_level, dtype: int64
authority
NaN                          4159
Linnaeus, 1758                590
Linnaeus, 1766                299
Gmelin, 1789                  240
Gmelin, 1788                  144
                             ...
Repenning & Fontana, 2013       1
Le Conte, 1830                  1
Chasen & Kloss, 1928            1
Malygin, 1994                   1
Sokolov & Baskevich, 1988       1
Name: authority, Length: 5392, dtype: int64
common_name_english
NaN                         1131
Great Basin Pocket Mouse       2
Brown Lemming                  2
Northern Free-tailed Bat       2
Michoacan Deer Mouse           2
                            ...
Brownish Elaenia               1
Yellow-vented Warbler          1
Rhogeessa Species              1
Rufous-tailed Shama            1
White-fronted Nunbird          1
Name: common_name_english, Length: 20379, dtype: int64
iucn_category_id
2000007.0    10617
NaN           4160
2000010.0     1816
2000006.0     1286
2000005.0     1268
2000004.0      918
2000008.0      862
2000003.0      388
2000000.0      227
2000001.0        6
Name: iucn_category_id, dtype: int64
scientific_name
NaN                                                   502
Oecomys superans (Thomas, 1911)                         1
Otonycteris hemprichii (Peters, 1859)                   1
Carpomys melanurus (Thomas, 1895)                       1
Ploceus reichardi (Reichenow, 1886)                     1
                                                     ...
Dryocopus martius (Linnaeus, 1758)                      1
Mimus melanotis (Gould, 1837)                           1
Myiarchus crinitus (Linnaeus, 1758)                     1
Cynomys                                                 1
Lonchura leucogastroides (Horsfield & Moore, 1856)      1
Name: scientific_name, Length: 21047, dtype: int64
unique_identifier
a9712668-01dc-44b8-bb53-5b10e721cb9b    1
051bc862-c265-4654-9a74-7d40722c9ecb    1
4f7dc371-d1e8-442b-84b6-78dc0e4ac22a    1
92be8260-28e9-4752-bc79-4029ca3d3882    1
e96fdc23-85f3-43a3-8542-9427767c4297    1
                                       ..
56feda18-ec4a-4f28-8384-05dfd39fa16d    1
2f898f6f-0060-4842-ab0d-a732f7ef2ac8    1
383c37dd-1fe0-4273-b160-3b5bfd21f18f    1
69657af6-a91f-45ea-bd0b-29c08aa7a23d    1
4fec6ca2-a54c-469b-a9a3-dc3b13531fb2    1
Name: unique_identifier, Length: 21548, dtype: int64
taxonomy_type
biological    21541
object            7
Name: taxonomy_type, dtype: int64

In [ ]:
taxonomies_prod.head()

In [ ]:
taxonomies_staging.head()

In [28]:
def diff_pd(df1, df2, cols):
    """Identify differences between two pandas DataFrames"""
    diffCols = set(df1.columns.values) ^ set(df2.columns.values)

    assert (set(df1.columns.values) ^ set(df2.columns.values)) is not None, \
        f"DataFrame column names are different: {diffCols}"
    
    df1.sort_index(axis=1, inplace=True)
    df2.sort_index(axis=1, inplace=True)
    
    print("Staging data shape"+ str(df1.shape))
    print("Prod data shape"+ str(df2.shape))
    if any(df1.dtypes != df2.dtypes):
        "Data Types are different, trying to convert"
        df2 = df2.astype(df1.dtypes)
    if df1.equals(df2):
        return None
    else:
        columns = set(df1.columns.values) - set(cols)
        print(columns)
        outputR = df1.merge(df2,how="right", on=['species', 'genus','family', 'order', 'taxon_level'], suffixes=('_staging', '_pro'), indicator=True)
        
        print(outputR._merge.value_counts(dropna=False))
        
        print('_________________________________')
        print(outputR.shape)
        print(outputR.info())
        outputRM = outputR[['suborder_pro', 'genus', 'family', 'superfamily_pro', 'subspecies_pro', 'scientific_name_pro', 'species', 'subfamily_pro', 'class_pro', 'order', 'taxonomy_type_pro', 'authority_pro', 'iucn_category_id_pro', 'common_name_english_pro', 'taxon_level', 'unique_identifier_pro','id_staging']]
        outputRM.drop_duplicates(keep=False)
        print(outputRM.info())
        
        return outputRM

In [29]:
test_output = diff_pd(taxonomies_staging, taxonomies_prod, ['unique_identifier','id'])

Staging data shape(21990, 17)
Prod data shape(21548, 17)
{'species', 'scientific_name', 'taxon_level', 'iucn_category_id', 'suborder', 'family', 'subspecies', 'superfamily', 'common_name_english', 'genus', 'order', 'taxonomy_type', 'subfamily', 'class', 'authority'}
both          22226
right_only        9
left_only         0
Name: _merge, dtype: int64
_________________________________
(22235, 30)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22235 entries, 0 to 22234
Data columns (total 30 columns):
authority_staging              17408 non-null object
class_staging                  22130 non-null object
common_name_english_staging    17006 non-null object
family                         22051 non-null object
genus                          21243 non-null object
id_staging                     22226 non-null float64
iucn_category_id_staging       17416 non-null float64
order                          22118 non-null object
scientific_name_staging        21493 non-null object
species                        17586 non-null object
subfamily_staging              0 non-null float64
suborder_staging               0 non-null float64
subspecies_staging             0 non-null object
superfamily_staging            0 non-null float64
taxon_level                    22235 non-null object
taxonomy_type_staging          754 non-null object
unique_identifier_staging      22226 non-null object
authority_pro                  17428 non-null object
class_pro                      22138 non-null object
common_name_english_pro        21104 non-null object
id_pro                         22235 non-null int64
iucn_category_id_pro           17416 non-null float64
scientific_name_pro            21074 non-null object
subfamily_pro                  0 non-null float64
suborder_pro                   0 non-null float64
subspecies_pro                 3 non-null object
superfamily_pro                0 non-null float64
taxonomy_type_pro              22235 non-null object
unique_identifier_pro          22235 non-null object
_merge                         22235 non-null category
dtypes: category(1), float64(9), int64(1), object(19)
memory usage: 5.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22235 entries, 0 to 22234
Data columns (total 17 columns):
suborder_pro               0 non-null float64
genus                      21243 non-null object
family                     22051 non-null object
superfamily_pro            0 non-null float64
subspecies_pro             3 non-null object
scientific_name_pro        21074 non-null object
species                    17586 non-null object
subfamily_pro              0 non-null float64
class_pro                  22138 non-null object
order                      22118 non-null object
taxonomy_type_pro          22235 non-null object
authority_pro              17428 non-null object
iucn_category_id_pro       17416 non-null float64
common_name_english_pro    21104 non-null object
taxon_level                22235 non-null object
unique_identifier_pro      22235 non-null object
id_staging                 22226 non-null float64
dtypes: float64(5), object(12)
memory usage: 3.1+ MB
None

In [31]:
for column in list(test_output.columns):
    print(column)
    print(test_output[column].value_counts(dropna=True))

suborder_pro
Series([], Name: suborder_pro, dtype: int64)
genus
Crocidura      182
Homo           172
Myotis         113
Zosterops      101
Turdus          89
              ...
Glironia         2
Nesoromys        2
Metopothrix      2
Falculea         2
Unknown          1
Name: genus, Length: 3658, dtype: int64
family
Muridae                899
Cricetidae             835
Tyrannidae             558
Thraupidae             523
Psittacidae            500
                      ...
Hypsiprymnodontidae      4
Ornithorhynchidae        4
Microbiotheriidae        4
Antilocapridae           4
Unknown                  1
Name: family, Length: 405, dtype: int64
superfamily_pro
Series([], Name: superfamily_pro, dtype: int64)
subspecies_pro
hircus        1
domesticus    1
scrofa        1
Name: subspecies_pro, dtype: int64
scientific_name_pro
Homo sapiens (Linnaeus, 1758)                  19
Bubalus arnee (Kerr, 1792)                      3
Cervus canadensis (Erxleben, 1777)              3
Equus africanus (Heuglin & Fitzinger, 1866)     3
Camelus ferus (Przewalski, 1878)                3
                                               ..
Lynx                                            1
Antechinus bellus (Thomas, 1904)                1
Synallaxis gujanensis (Gmelin, 1789)            1
Lanius dorsalis (Cabanis, 1878)                 1
Icterus parisorum (Bonaparte, 1838)             1
Name: scientific_name_pro, Length: 21046, dtype: int64
species
sapiens           171
minor              40
australis          37
affinis            34
capensis           33
                 ...
mergulus            1
bohndorffi          1
tympanistrigus      1
pellucida           1
texensis            1
Name: species, Length: 9342, dtype: int64
subfamily_pro
Series([], Name: subfamily_pro, dtype: int64)
class_pro
Aves        14625
Mammalia     7501
Reptilia        6
Insecta         5
Unknown         1
Name: class_pro, dtype: int64
order
Passeriformes        8628
Rodentia             2854
Chiroptera           1494
Caprimulgiformes      807
Primates              725
                     ...
Opisthocomiformes       5
Tubulidentata           5
Microbiotheria          5
Squamata                1
Unknown                 1
Name: order, Length: 66, dtype: int64
taxonomy_type_pro
biological    22151
object           84
Name: taxonomy_type_pro, dtype: int64
authority_pro
Linnaeus, 1758         608
Linnaeus, 1766         299
Gmelin, 1789           240
Gmelin, 1788           144
Vieillot, 1818         118
                      ...
Payraudeau, 1826         1
Finsch, 1869             1
Eyton, 1851              1
Forsyth Major, 1901      1
Trimen, 1880             1
Name: authority_pro, Length: 5391, dtype: int64
iucn_category_id_pro
2000007.0    10637
2000010.0     1816
2000006.0     1286
2000005.0     1270
2000004.0      920
2000008.0      862
2000003.0      392
2000000.0      227
2000001.0        6
Name: iucn_category_id_pro, dtype: int64
common_name_english_pro
Human-Researcher          19
Human                     19
Human-Tourist             19
Human-Resident            19
Human-Pedestrian          19
                          ..
Dark-necked Tailorbird     1
Spotted Bowerbird          1
Black-headed Grosbeak      1
Scrub Blackbird            1
Brazilian Laniisoma        1
Name: common_name_english_pro, Length: 20378, dtype: int64
taxon_level
species       17586
genus          3657
family          808
none             96
order            67
class            20
subspecies        1
Name: taxon_level, dtype: int64
unique_identifier_pro
e6f88ed1-c305-4e94-b53d-8eec1b1d980a    19
0ffb7a18-d6df-454c-a014-c99f52ec22a1    19
41ebc3f1-ecc7-497c-acd4-6b35623a9465    19
066c4187-4a03-4531-9f62-ac585ad0a138    19
990ae9dd-7a59-4344-afcb-1b7b21368000    19
                                        ..
1bcb7aeb-fd13-4846-853e-70c2cb74bab8     1
2933653f-a6c6-44d6-834c-2cbb15e8bcc5     1
76a2103c-3433-4f05-9294-ce6c8c5b52b0     1
cd3b9d0e-f14b-458a-8b66-8f4ee32bc844     1
4fec6ca2-a54c-469b-a9a3-dc3b13531fb2     1
Name: unique_identifier_pro, Length: 21548, dtype: int64
id_staging
21976.0    9
2046.0     9
21982.0    9
21972.0    9
21979.0    9
          ..
6703.0     1
4930.0     1
15097.0    1
6318.0     1
1.0        1
Name: id_staging, Length: 21975, dtype: int64

In [32]:
r = test_output['unique_identifier_pro'].value_counts(dropna=False)

f = list(r.where(r>1).dropna().index)

s = test_output[test_output['unique_identifier_pro'].isin(f)]
s[s.taxon_level != 'none'].info()
s.drop_duplicates(subset=['unique_identifier_pro'], keep='first', inplace=True)
s

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1028 entries, 433 to 22164
Data columns (total 17 columns):
suborder_pro               0 non-null float64
genus                      196 non-null object
family                     1004 non-null object
superfamily_pro            0 non-null float64
subspecies_pro             0 non-null object
scientific_name_pro        34 non-null object
species                    196 non-null object
subfamily_pro              0 non-null float64
class_pro                  1028 non-null object
order                      1008 non-null object
taxonomy_type_pro          1028 non-null object
authority_pro              34 non-null object
iucn_category_id_pro       34 non-null float64
common_name_english_pro    1028 non-null object
taxon_level                1028 non-null object
unique_identifier_pro      1028 non-null object
id_staging                 1028 non-null float64
dtypes: float64(5), object(12)
memory usage: 144.6+ KB

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,suborder_pro,genus,family,superfamily_pro,subspecies_pro,scientific_name_pro,species,subfamily_pro,class_pro,order,taxonomy_type_pro,authority_pro,iucn_category_id_pro,common_name_english_pro,taxon_level,unique_identifier_pro,id_staging
433,NaN,Bos,Bovidae,NaN,NaN,"Bos mutus (Przewalski, 1883)",mutus,NaN,Mammalia,Cetartiodactyla,biological,"Przewalski, 1883",2000005.0,Domestic Yak,species,a914277e-da42-43f1-82e4-619a03542d9d,430.0
463,NaN,Bubalus,Bovidae,NaN,NaN,"Bubalus arnee (Kerr, 1792)",arnee,NaN,Mammalia,Cetartiodactyla,biological,"Kerr, 1792",2000004.0,Domestic Water Buffalo,species,c964ec4e-4ced-4e7c-9207-fbb81444d32a,457.0
555,NaN,Camelus,Camelidae,NaN,NaN,"Camelus ferus (Przewalski, 1878)",ferus,NaN,Mammalia,Cetartiodactyla,biological,"Przewalski, 1878",2000003.0,Bactrian Camel,species,94a98547-e316-4994-92b7-3d6810f7f3d3,546.0
684,NaN,Cervus,Cervidae,NaN,NaN,"Cervus canadensis (Erxleben, 1777)",canadensis,NaN,Mammalia,Cetartiodactyla,biological,"Erxleben, 1777",2000007.0,Domestic Elk,species,3e4fac86-1e90-403c-b798-c20a93df373c,671.0
1553,NaN,Equus,Equidae,NaN,NaN,"Equus africanus (Heuglin & Fitzinger, 1866)",africanus,NaN,Mammalia,Perissodactyla,biological,"Heuglin & Fitzinger, 1866",2000003.0,African Wild Ass,species,bf4af16d-d079-4d7c-af7a-be9c9c7cceab,1533.0
2076,NaN,Homo,Hominidae,NaN,NaN,"Homo sapiens (Linnaeus, 1758)",sapiens,NaN,Mammalia,Primates,biological,"Linnaeus, 1758",2000007.0,Human,species,990ae9dd-7a59-4344-afcb-1b7b21368000,2046.0
2095,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Camera Trapper,species,066c4187-4a03-4531-9f62-ac585ad0a138,2046.0
2114,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Hunter,species,f5ec47a5-e7a4-4158-a0b4-a6481ae3f06f,2046.0
2133,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Researcher,species,e6f88ed1-c305-4e94-b53d-8eec1b1d980a,2046.0
2152,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Tourist,species,795880f2-2677-41bf-be13-72c58056f08d,2046.0
2171,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Resident,species,128d0fac-f96d-4a98-af18-2903dbbe1568,2046.0
2190,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Park Ranger,species,0ffb7a18-d6df-454c-a014-c99f52ec22a1,2046.0
2209,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Maintenance crew,species,41ebc3f1-ecc7-497c-acd4-6b35623a9465,2046.0
2228,NaN,Homo,Hominidae,NaN,NaN,NaN,sapiens,NaN,Mammalia,Primates,biological,NaN,NaN,Human-Pedestrian,species,0de272bf-5eab-4198-a888-3a6e92f1460d,2046.0
21225,NaN,NaN,Ailuridae,NaN,NaN,NaN,NaN,NaN,Mammalia,Carnivora,biological,NaN,NaN,Ailuridae Family,family,52354fe7-02da-4fca-9924-e3c597d389b6,21046.0
21227,NaN,NaN,Antilocapridae,NaN,NaN,NaN,NaN,NaN,Mammalia,Cetartiodactyla,biological,NaN,NaN,Antilocapridae Family,family,66a3f3b7-5b62-4232-b597-ddda2c193506,21047.0
21229,NaN,NaN,Aotidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Primates,biological,NaN,NaN,Aotidae Family,family,8ab64e13-7c31-446a-9b14-0ef58d8a06c6,21048.0
21231,NaN,NaN,Aplodontiidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Aplodontiidae Family,family,1015fdc8-59e9-4c4e-a886-314fa76528af,21049.0
21233,NaN,NaN,Bradypodidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Pilosa,biological,NaN,NaN,Three-toed sloth family,family,a2de8a0e-b7b0-435b-bf71-ceb2b423e035,21050.0
21235,NaN,NaN,Calomyscidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Calomyscidae Family,family,5d0499f7-6c66-49a8-9557-410f2f2f8b16,21051.0
21237,NaN,NaN,Neobalaenidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Cetartiodactyla,biological,NaN,NaN,Neobalaenidae Family,family,97cf6e3f-e095-41e5-a089-2915f6a23e70,21052.0
21239,NaN,NaN,Castoridae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Castoridae Family,family,ce3f30e0-cdf8-48c8-9949-57b922e17a42,21053.0
21241,NaN,NaN,Burramyidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Diprotodontia,biological,NaN,NaN,Burramyidae Family,family,9705e92d-0833-40b9-9039-de0f4eefbbfd,21054.0
21243,NaN,NaN,Chaeropodidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Peramelemorphia,biological,NaN,NaN,Chaeropodidae Family,family,40f70275-88f5-432c-9205-217f77381c92,21055.0
21245,NaN,NaN,Megalonychidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Pilosa,biological,NaN,NaN,Two-toed sloth family,family,fd6c8bf6-3f28-4505-bc77-0b37a81eab7f,21056.0
21247,NaN,NaN,Cistugidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Chiroptera,biological,NaN,NaN,Cistugidae Family,family,52d00f06-8936-4aa3-b4a7-6062ea5a3ae3,21057.0
21249,NaN,NaN,Craseonycteridae,NaN,NaN,NaN,NaN,NaN,Mammalia,Chiroptera,biological,NaN,NaN,Craseonycteridae Family,family,87918650-f58c-4730-9f77-8281a7725e8d,21058.0
21251,NaN,NaN,Ctenomyidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Ctenomyidae Family,family,1a41069d-eefd-4fcc-9710-fd4f76dc64ba,21059.0
21253,NaN,NaN,Cuniculidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Cuniculidae Family,family,b3f471b0-e018-4f14-9774-5658fd351411,21060.0
21255,NaN,NaN,Abrocomidae,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Abrocomidae Family,family,09a7ee04-ac62-424a-a3f9-f9d325233672,21061.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22011,NaN,NaN,Zeledoniidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Zeledoniidae Family,family,b8bf8d1a-a6ef-4808-810a-4c2d0fd2a98c,21439.0
22013,NaN,NaN,Teretistridae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Teretistridae Family,family,009290d6-b04b-4249-b9d4-fc4bdf8d6c4c,21440.0
22015,NaN,NaN,Icteridae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Icteridae Family,family,e1e4b4c7-c587-4d21-a28e-832feda37256,21441.0
22017,NaN,NaN,Parulidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Parulidae Family,family,b22a1273-4313-46e5-837e-5a44b25ae3d9,21442.0
22019,NaN,NaN,Phaenicophilidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Phaenicophilidae Family,family,eb81bdc2-d223-4a13-8e95-c93239f17bd9,21443.0
22021,NaN,NaN,Spindalidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Spindalidae Family,family,3df45b9d-7525-4055-9911-1c9b54c9b242,21444.0
22023,NaN,NaN,Nesospingidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Nesospingidae Family,family,031cb113-4c31-4f0a-9314-57203303e43d,21445.0
22025,NaN,NaN,Calyptophilidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Calyptophilidae Family,family,4a5a3aa3-505b-4eb6-a66d-01011fb7b2be,21446.0
22027,NaN,NaN,Mitrospingidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Mitrospingidae Family,family,936dd6fe-578f-4042-b21c-6ab6f49b847b,21447.0
22029,NaN,NaN,Cardinalidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Cardinalidae Family,family,ef25460f-99ef-469e-b45d-b3b6888b6d13,21448.0
22031,NaN,NaN,Thraupidae,NaN,NaN,NaN,NaN,NaN,Aves,Passeriformes,biological,NaN,NaN,Thraupidae Family,family,11aeb8cc-d247-4527-b23a-1d5a6f3c0393,21449.0
22034,NaN,Felis,Felidae,NaN,NaN,NaN,catus,NaN,Mammalia,Carnivora,biological,NaN,NaN,Domestic Cat,species,9212982e-8a58-4775-a6ac-e9a43110d8f5,21451.0
22036,NaN,Bos,Bovidae,NaN,NaN,NaN,taurus,NaN,Mammalia,Artiodactyla,biological,NaN,NaN,Domestic Cattle,species,aca65aaa-8c6d-4b69-94de-842b08b13bd6,21453.0
22038,NaN,Equus,Equidae,NaN,NaN,NaN,caballus,NaN,Mammalia,Perissodactyla,biological,NaN,NaN,Domestic Horse,species,5109acb4-e503-4147-a175-a3c6aa71f1e3,21456.0
22040,NaN,Ovis,Bovidae,NaN,NaN,NaN,aries,NaN,Mammalia,Artiodactyla,biological,NaN,NaN,Domestic Sheep,species,0de8422e-f59d-4802-9e93-ab8559e43e55,21458.0
22042,NaN,Camelus,Camelidae,NaN,NaN,NaN,dromedarius,NaN,Mammalia,Artiodactyla,biological,NaN,NaN,Dromedary Camel,species,a4f23daa-a66d-483c-94d4-3132aea33283,21459.0
22045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Official Vehicle,none,1a6d048a-28da-45bb-845d-a14cc5b7d61a,21487.0
22057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Blank,none,f1856211-cfb7-4a5b-9158-c0f72fd09ee6,21487.0
22069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,biological,A collector name for misfires or other garbage...,NaN,Misfire,none,9999ab1f-bea0-436c-8f52-1d45c7063ff7,21487.0
22081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Bicycle,none,c491e45f-4440-4bac-8013-7037262df4ea,21487.0
22093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Motorcycle,none,57ba5c74-ac84-4c1b-adc4-e7802ec8dc5c,21487.0
22105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Car,none,e2895ed5-780b-48f6-8a11-9e27cb594511,21487.0
22117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,Truck,none,5b56ce2c-8534-40af-9af3-3b226152eb03,21487.0
22129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,object,NaN,NaN,ATV,none,6d2cb769-0553-450e-88a9-e95647dbac18,21487.0
22141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Reptilia,NaN,biological,NaN,NaN,Reptile,class,739a105e-d883-4ff8-9282-7ec44018e6a0,21494.0
22146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insecta,NaN,biological,NaN,NaN,Insect,class,9fb844bd-26d1-49f1-a829-0025a48d3bdb,21494.0
22151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammalia,NaN,biological,NaN,NaN,Mammalia Class,class,f2d233e3-80e3-433d-9687-e29ecc7a467a,21494.0
22156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aves,NaN,biological,NaN,NaN,Bird,class,b1352069-a39c-4a84-a949-60044271c0c1,21494.0
22161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammalia,Chiroptera,biological,NaN,NaN,Bat,order,a45906ce-5938-433a-bc82-4d0e60d2ebab,21496.0
22163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mammalia,Rodentia,biological,NaN,NaN,Rodent,order,90d950db-2106-4bd9-a4c1-777604c3eada,21497.0

In [33]:
test_output.drop_duplicates(subset=['unique_identifier_pro'], keep='first', inplace=True)

In [35]:
test_output.rename(columns={"suborder_pro": "suborder", "superfamily_pro": "superfamily", "subfamily_pro": "subfamily", "class_pro": "class", "authority_pro": "authority", "common_name_english_pro": "common_name_english", "iucn_category_id_pro": "iucn_category_id", "unique_identifier_pro": "unique_identifier","id_staging": "id","taxonomy_type_pro": "taxonomy_type","scientific_name_pro": "scientific_name","subspecies_pro": "subspecies"}, inplace=True)
test_output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21548 entries, 0 to 22234
Data columns (total 17 columns):
suborder               0 non-null float64
genus                  21066 non-null object
family                 21470 non-null object
superfamily            0 non-null float64
subspecies             3 non-null object
scientific_name        21046 non-null object
species                17409 non-null object
subfamily              0 non-null float64
class                  21539 non-null object
order                  21535 non-null object
taxonomy_type          21548 non-null object
authority              17389 non-null object
iucn_category_id       17388 non-null float64
common_name_english    20417 non-null object
taxon_level            21548 non-null object
unique_identifier      21548 non-null object
id                     21539 non-null float64
dtypes: float64(5), object(12)
memory usage: 3.0+ MB

In [36]:
test_output.to_csv('/Users/alicia/Downloads/taxonomies_result.csv',index=False)